.entry-content,
.block-editor-block-list__layout {
  color: var(--color-zinc-950);
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);

  :where(.entry-content > *:not(li),
    .block-editor-block-list__layout > *:not(li)) {
    margin-top: --spacing(6);
    margin-bottom: --spacing(6);
  }

  :where(h2) {
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    margin-top: --spacing(12);

    font-family: "Oswald", sans-serif;
    font-style: normal;
  }

  :where(h3) {
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    margin-top: --spacing(8);
  }

  :where(h2 + h3) {
    margin-top: 0;
  }

  :where(ul, ol) {
    padding-left: 1.5rem;
  }

  :where(ul) {
    list-style-type: disc;
  }

  :where(ol) {
    list-style-type: decimal;
  }

  :where(a) {
    color: var(--color-primary);
  }

  :where(li) {
    padding-left: --spacing(3);
  }

  :where(li)::marker {
    color: var(--color-zinc-500);
  }

  :where(li > *),
  :where(li li) {
    margin-top: --spacing(4);
  }

  :where(ol > li)::marker {
    font-size: var(--text-base);
    font-weight: var(--font-weight-semibold);
  }

  :where(strong) {
    font-weight: var(--font-weight-semibold);
  }

  :where(figure) {
    margin-top: --spacing(12);
    margin-bottom: --spacing(12);
  }

  :where(li > :first-child) {
    margin-top: 0 !important;
  }

  :where(li > :last-child) {
    margin-bottom: 0 !important;
  }
}

.custom-logo {
  height: 100%;
  width: auto;
}

.lang-item {
  list-style: none;
}

body {
  background-repeat: repeat;
  background-blend-mode: normal;
  background-origin: padding-box;
  background-clip: border-box;
  background-attachment: scroll;
  font-family: "Oswald", sans-serif;

}

section {
  padding: 30px 0;
}

article {
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: 40px;
  line-height: var(--text-5xl--line-height);
  font-weight: var(--font-weight-semibold);
  margin-top: --spacing(6);
  margin-bottom: --spacing(3);
  font-family: "Oswald", sans-serif;
  font-style: normal;
  text-align: center;
}

button {
  cursor: pointer !important;
}

a {
  text-decoration: none !important;
}

p {
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-light);
  font-size: var(--text-base);
}

span {
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);

}

.menu-item::after {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: url('data:image/svg+xml;utf8,<svg fill="none" stroke="black" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/></svg>') no-repeat center;
  margin-left: 0.5rem;
  color: var(--color-light);
}